/* html {
    background-image: url("flower.jpg");
} */

body{
    background-image: url("../flower30%.png");
    background-color: pink;
    
    
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 80px;

}


p{

    font-family: 'Chilanka', cursive;
    font-size: 20px;
    color: palevioletred;
    margin-left: 80px;
    
    

}

h1{
  
    color:palevioletred;
    font-family: 'Sacramento', cursive;
    font-size: 70px;

}
h2{
  
    font-family: 'Chilanka', cursive;
    font-size: 25px;
    color: #ffe6c4;
}

div{
    font-family: 'Chilanka', cursive;
    font-size: 15px;
    color: palevioletred;
}

footer{
    font-size: 10px;
}