body{
    background-color: #4989ba;
    margin-top: 100px;
   
    margin-right: 150px;
    margin-left: 80px;

}




h1{
  
    color:#ffa29c;
    font-family: 'Saira Stencil One', cursive;
    font-size: 70px;

}
h2{
  
    font-family: 'Cute Font', cursive;
    font-size: 40px;
    color: #ffe6c4;
}

footer{
    font-size: 10px;
}
div{
    font-family: 'Cute Font', cursive;
    font-size: 20px;
    color: #ffa29c;
}
p{

    font-family: 'Cute Font', cursive;
    font-size: 30px;
    color: pink;
    margin-left: 80px;
    
    


}