body{
    
    background-color: beige;
}

.wrapper {

    width: 30%;
    height: 500px;
    /* background-color: #ffe0e6; */
    background-image: url("../../session06HW/images/phone.png");
    margin: 0px auto;
    padding: 50px;
    margin-top: 200px;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.row {
    height: 15%;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

/* .row::after{
    content:"";
    display: block;
    clear: both;
} */

.box {
    float: left;
    width: 19%;
    height: 76%;
    margin: 2% 3%;
    border-radius: 25%;
    background-color: #69a3c1;
    background-size: contain;
    transition: 1.5s;
}

.box:hover {
    transform: scale(1.25);
}

.frog {
    background-image: url("https://lh3.googleusercontent.com/ifBusz8nIKXVI8v7sU-7MCyYFETbPtSodCXkisHBmUq59PPbgIzjdfCUxw05Ym3fRQ=s300")
}

