.box{
    width:800px;
    height:400px;
    background-color: red;
}

#green-box{
    width:800px;
    height:400px;
    background-color: green;
    margin:20px;
}

a {
    /* display: block; */
    /* this gives the line of color */
    background-color: pink;
}

p{
    display: inline-block;
}
